---
layout: default
---

{% include header.html %}

<main class="post__wrapper">
  <div class="post__top_navs clearfix">
    <nav class="post__archive_path">
      <a href="/blog/" id="archiveBtn">
        <div class="post__archive_icon">
          <svg width="40" height="40">
            <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="post__archive_icon"></span>
        </div>
        博客
      </a>
    </nav>
  </div>
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__meta">
        <time>{{ page.date | date: "%Y-%m-%d %H:%M" }}</time>
      </div>
    </header>
    <div class="post__content content">
      {{ content | ext }}
    </div>
  </article>
  <nav class="post__relative">
    <ul>
      {%- if page.previous -%}
      <li class="prev_post">
        <a href="{{ page.previous.url }}">
          {{ page.previous.title  }}
        </a>
      </li>
      {%- endif -%}
      {%- if page.next -%}
      <li class="next_post">
        <a href="{{ page.next.url }}">
          {{ page.next.title  }}
        </a>
      </li>
      {%- endif -%}
    </ul>
  </nav>
  {%- if site.comment.enabled -%}
  {%- include comments.html -%}
  {%- else -%}
  {%- include contact.html -%}
  {%- endif -%}
</main>
{%- if page.code -%}
  <script>hljs.initHighlightingOnLoad();</script>
{%- endif -%}
